@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

/* Define CSS variables for fonts */
:root {
    --heading-font: 'Source Sans Pro', sans-serif;
    --body-font: 'Source Sans Pro', sans-serif;
    --nav-font: 'Source Sans Pro', sans-serif;
    --mono-font: 'Roboto Mono', monospace;
}

.navbar-brand {
    font-size: 1.68em;
    font-weight: 350;
}

.navbar {
    font-weight: 350;
}

.resume-biography {
    gap: 10%; /* Adjust the gap between flex items */
}

/* Adjust the positioning of the avatar and icons */
.avatar-wrapper {
    margin-top: -20px; /* Adjust the top margin as needed */
    margin-left: -10px; /* Adjust the left margin as needed */
}

.network-icon li {
    margin-top: 100px; /* Adjust the top margin as needed */
}

.flex-auto {
    margin-top: -40px; /* Adjust the top margin as needed */
}

.bio-text {
    max-width: 900px; /* Increase this value to make the text box wider */
    margin: 0 auto; /* Center the text box */
  }


/* Apply CSS variables */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

body {
    font-family: var(--body-font);
}

nav {
    font-family: var(--nav-font);
    font-size: 1.1em;
}

code, pre {
    font-family: var(--mono-font);
}